arib-style {
    display: none;
}

arib-script {
    display: none;
}


/* STD-B24 Annex A Default Style Sheet */
/* margin */
div, p, input, object {margin: 0 !important}
/* padding */
div, object {padding-top : 0 !important; padding-right : 0 !important; padding-bottom : 0 !important; padding-left : 0 !important; }
/* border */
div, p, span, a, input {border-width : 0 }
object {border-width : 0 !important; border-style : none !important}
/* display */
meta, title, script, style, head, bml, bevent, beitem { display: none !important }
body, div, p, object, input { display : block !important }
br, span, a { display : inline !important }
/* position */
p, div, object, input { position : absolute !important }
br, span, a { position : static !important }
/* top left width height*/
p,div, input, object {top : 0; left : 0; width : 0; height : 0 }
/* z-index */
div, p, br, span, a, input, object, body { z-index : auto !important }
/* line-height */
br, span, a { line-height : inherit !important }
/* visibility */
body { visibility : visible !important }
span, a { visibility : inherit !important }
/* overflow */
p, div, input, object { overflow : hidden !important }
/* background-repeat */
body { background-repeat : repeat !important }
/* text */
p, input { font-family : "round gothic"; font-size : 24px }
span, a { font-family : inherit; font-size : inherit }
p, input { text-align : left }
/* letter-spacing */
span, a { letter-spacing : inherit !important }
/* white-space */
/* CDATA? */
/* p, input { white-space : normal !important } */
/* background-color-index */
body {background-color : var(--clut-color-0)}
div, p, span, a, input { background-color : var(--clut-color-8) }
/* ?? これだとobjectが透過できなくなる */
/* object { background-color : var(--clut-color-0) !important} */
/* grayscale-color-index */
p, input { --grayscale-color-index : 30 15 }

/* reset UA CSS */
p {
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 0;
    margin-inline-end: 0;
}
p {
    white-space: break-spaces !important;
}
body {
    padding: 0!important; /* NHK BS1とかbodyにpadding: 6pt;があって崩れる? */
    margin: 0!important;
}

body {
    font-family: "round gothic";
}

/* STD-B24 A1-13.7.7 */
@font-face {
    font-family: "ゴシック";
    src: local('MS Gothic');
}

@font-face {
    font-family: "Ｐゴシック";
    src: local('MS PGothic');
}

@font-face {
    font-family: "丸ゴシック";
    src: url("/rounded-mplus-1m-arib.ttf"), local('MS Gothic');
}

@font-face {
    font-family: "round gothic";
    src: url("/rounded-mplus-1m-arib.ttf"), local('MS Gothic');
}

@font-face {
    font-family: "bold round gothic";
    src: local('MS Gothic');
}

@font-face {
    font-family: "square gothic";
    src: local('MS Gothic');
}

@font-face {
    font-family: "Ｐ丸ゴシック";
    src: local('MS PGothic');
}

@font-face {
    font-family: "太ゴシック";
    src: local('MS Gothic');
}

@font-face {
    font-family: "角ゴシック";
    src: local('MS Gothic');
}

@font-face {
     font-family: "明朝";
     src: local('MS Mincho');
}

@font-face {
    font-family: "Ｐ明朝";
    src: local('MS PMincho');
}
